.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 0.5rem;
}

.link {
  color: #7d7d95;
  font-family: "Nunito Sans";
  font-size: 1.1rem;
  font-weight: 500;
}

.signup {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 4rem;
  position: fixed;
  left: 10rem;
  top: 0;
  margin: 1rem;
  margin-top: 0.5rem;
}
