.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 100;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 0.5rem;
}

.link {
  color: #7d7d95;
  font-family: 'Nunito Sans';
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.socials {
  right: 2rem;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
}

.logo {
  width: 4rem;
  left: 10rem;
  top: 0rem;
  cursor: pointer;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: var(--primary);
  padding: 0.5rem 2rem;
  color: white;
  font-family: 'Nunito Sans';
  margin-left: 4rem;
  cursor: pointer;
}