.card {
  background: #f5f9ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-family: 'Nunito Sans';
  font-size: 2.3rem;
  line-height: 5rem;
}

.description {
  font-family: 'Nunito Sans';
  color: var(--grey);
  max-width: 80%;
  font-size: 1.3rem;
  font-weight: 500;
}

.image {
  width: 40rem;
}
