.screen {
  width: 100vw;
  background-color: var(--bg);
}

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  background: var(--bg);
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 4rem;
  line-height: 4rem;
}

.task {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #7b6ee9, #7a6ee9b6);
}

.social a{
  margin: 10px;
}

.description {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Nunito Sans';
  font-size: 1.2rem;
  color: var(--muted);
  max-width: 26rem;
}

.logo {
  width: 4rem;
  left: 10rem;
  top: 0rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer{
    border-top: 1px solid #dedede;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .tagline {    
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
  }

  .task {
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #7b6ee9, #7a6ee9b6);
  }
  
  .social a{
    margin: 10px;
  }
  
  .description {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 1.2rem;
    color: var(--muted);
    max-width: 20rem;    
  }
  
  .logo {
    width: 3rem;
    left: 10rem;
    top: 0rem;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .footer{
      border-top: 1px solid #dedede;
      display: flex;
      height: 80px;
      justify-content: space-evenly;
      width: 100%;
      align-items: center;
  }

  .footerDownload {
    display: none;
  }
}